

.titleWraper3 {
    display: block;
    min-height: 500px;
    position: relative;
    background-color: #0575e6;
    background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.08)),color-stop(hsla(0,0%,100%,.08)),color-stop(hsla(0,0%,100%,.08)),color-stop(hsla(0,0%,100%,.73)),to(#fff)),-webkit-gradient(linear,left bottom,left top,from(#00f260),to(#0575e6));
    background-image: linear-gradient(hsla(0,0%,100%,.08),hsla(0,0%,100%,.08),hsla(0,0%,100%,.08),hsla(0,0%,100%,.73),#fff),linear-gradient(0deg,#00f260,#0575e6);
}


@media (min-width: 801px){
.dashboardSpecial3 {
    padding-right: 30px;
    padding-left: 30px;
}}

@media (min-width: 600px){
.dashboardSpecial3 {
    padding-right: 30px;
    padding-left: 30px;
}}

@media (min-width: 480px){
.dashboardSpecial3 {
    padding-right: 10px;
    padding-left: 10px;
}}

@media (min-width: 320px){
.dashboardSpecial3 {
    padding-right: 10px;
    padding-left: 10px;
}}
.titleDocument3 {
    font-weight: bolder;
    color: #000;
    line-height: 110%;
    position: absolute;
    top: 70%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (min-width: 801px){
    .titleDocument3 {
        font-size: 100px;
    }
}

@media (min-width: 600px){
.titleDocument3 {
    font-size: 100px;
}}

@media (min-width: 480px){
.titleDocument3 {
    font-size: 50px;
}}
@media (min-width: 320px){
.titleDocument3 {
    font-size: 50px;
}}


/* content */

.documentContainer3 {
    width: 720px;
    max-width: 80vw;
}

@media (min-width: 801px){
.documentContainer3 {
    margin-left: auto;
    margin-right: auto;
}
}

@media (min-width: 600px){
.documentContainer3 {
    margin-left: auto;
    margin-right: auto;
}}

@media (min-width: 480px){
.documentContainer3 {
    margin-left: auto;
    margin-right: auto;
}}

@media (min-width: 320px){
.documentContainer3 {
    margin-left: auto;
    margin-right: auto;
}}

.profile3{
    margin-top: 30px;
}

.profilename3{
    display: inline-block; vertical-align: middle; margin-left: 10px; font-size: 17px; color: black;
}

.profiledate3{
    font-size: 12px; color: black;
}

.photoprofile3 {
    background: url(https://s3.us-west-2.amazonaws.com/machrus/profile_picture/iotmapid/iotmapid_1571800452566.jpeg) no-repeat center center/ cover;
    background-color: #dcdcdc;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    border: 2px solid #b0b0b0;
    box-shadow: 0 0 12px #0000004e;
    -webkit-box-shadow: 0 0 12px #0000004e;
    -moz-box-shadow: 0 0 12px #0000004e;
}
.DraftEditor-root3{
    position: relative;
}

.DraftEditor-editorContainer3, .DraftEditor-root3, .public-DraftEditor-content3 {
    height: inherit;
    text-align: left;
    text-align: initial;
}
.DraftEditor-editorContainer3 {
    background-color: hsla(0,0%,100%,0);
    border-left: .1px solid transparent;
    position: relative;
    z-index: 1;
}
.DraftEditor-editorContainer3, .DraftEditor-root3, .public-DraftEditor-content3 {
    height: inherit;
    text-align: left;
    text-align: initial;
}

.public3{
    outline: none; user-select: text; white-space: pre-wrap; overflow-wrap: break-word;
}

.RichEditor-editor3 .public-DraftEditor-content3 {
    min-height: 100px;
}
.RichEditor-editor .public-DraftEditor-content3, .RichEditor-editor3 .public-DraftEditorPlaceholder-root3 {
    margin: 0 -15px -15px;
    padding: 15px;
}

.DraftEditor-editorContainer3, .DraftEditor-root3, .public-DraftEditor-content3 {
    height: inherit;
    text-align: left;
    text-align: initial;
}
.RichEditor-editor3 {
    cursor: text;
    font-size: 18px;
    margin-top: 10px;
    color: #343434;
    line-height: 20pt;
    letter-spacing: .02em;
}
.public-DraftStyleDefault-ltr {
    direction: ltr;
    text-align: left;
}   
.public-DraftStyleDefault-block {
    position: relative;
    white-space: pre-wrap;
}

.content13{
    margin: 10px;
    padding-top: 60px;
    font-size: 150%;
}

.content23{
    margin: 10px;
    padding-top: 30px;
    font-size: 150%;
}
.content33{
    margin: 10px;
    padding-top: 10px;
    font-size: 150%;
}
.imagepie3{
    
    padding-top: 30px;
    text-align: center;
}

.content24{
    padding-top: 30% !important;
}