.titleWraper2 {
    display: block;
    min-height: 500px;
    position: relative;
    background-color: #0575e6;
    background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.08)),color-stop(hsla(0,0%,100%,.08)),color-stop(hsla(0,0%,100%,.08)),color-stop(hsla(0,0%,100%,.73)),to(#fff)),-webkit-gradient(linear,left bottom,left top,from(#00f260),to(#0575e6));
    background-image: linear-gradient(hsla(0,0%,100%,.08),hsla(0,0%,100%,.08),hsla(0,0%,100%,.08),hsla(0,0%,100%,.73),#fff),linear-gradient(0deg,#00f260,#0575e6);
}

.bgphoto2{
    background: linear-gradient(rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.733), rgb(255, 255, 255)), url(https://s3.us-west-2.amazonaws.com/machrus/doc_pictures/1587035241.png) center 38% / cover no-repeat;
    
}

@media (min-width: 801px){
.dashboardSpecial2 {
    padding-right: 30px;
    padding-left: 30px;
}}

@media (min-width: 600px){
.dashboardSpecial2 {
    padding-right: 30px;
    padding-left: 30px;
}}

@media (min-width: 480px){
.dashboardSpecial2 {
    padding-right: 10px;
    padding-left: 10px;
}}

@media (min-width: 320px){
.dashboardSpecial2 {
    padding-right: 10px;
    padding-left: 10px;
}}
.titleDocument2 {
    font-weight: bolder;
    color: #000;
    line-height: 110%;
    position: absolute;
    top: 70%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (min-width: 801px){
    .titleDocument2 {
        font-size: 100px;
    }
}

@media (min-width: 600px){
.titleDocument2 {
    font-size: 100px;
}}

@media (min-width: 480px){
.titleDocument2 {
    font-size: 50px;
}}
@media (min-width: 320px){
.titleDocument2 {
    font-size: 50px;
}}


/* content */

.documentContainer2 {
    width: 720px;
    max-width: 80vw;
}

@media (min-width: 801px){
.documentContainer2 {
    margin-left: auto;
    margin-right: auto;
}
}

@media (min-width: 600px){
.documentContainer2 {
    margin-left: auto;
    margin-right: auto;
}}

@media (min-width: 480px){
.documentContainer2 {
    margin-left: auto;
    margin-right: auto;
}}

@media (min-width: 320px){
.documentContainer2 {
    margin-left: auto;
    margin-right: auto;
}}

.profile2{
    margin-top: 30px;
}

.profilename2{
    display: inline-block; vertical-align: middle; margin-left: 10px; font-size: 17px; color: black;
}

.profiledate2{
    font-size: 12px; color: black;
}

.photoprofile2 {
    background: url(https://s3.us-west-2.amazonaws.com/machrus/profile_picture/iotmapid/iotmapid_1571800452566.jpeg) no-repeat center center/ cover;
    background-color: #dcdcdc;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    border: 2px solid #b0b0b0;
    box-shadow: 0 0 12px #0000004e;
    -webkit-box-shadow: 0 0 12px #0000004e;
    -moz-box-shadow: 0 0 12px #0000004e;
}
.DraftEditor-root2 {
    position: relative;
}

.DraftEditor-editorContainer, .DraftEditor-root2, .public-DraftEditor-content2 {
    height: inherit;
    text-align: left;
    text-align: initial;
}
.DraftEditor-editorContainer2 {
    background-color: hsla(0,0%,100%,0);
    border-left: .1px solid transparent;
    position: relative;
    z-index: 1;
}
.DraftEditor-editorContainer2, .DraftEditor-root2, .public-DraftEditor-content2 {
    height: inherit;
    text-align: left;
    text-align: initial;
}

.public2{
    outline: none; user-select: text; white-space: pre-wrap; overflow-wrap: break-word;
}

.RichEditor-editor .public-DraftEditor-content2 {
    min-height: 100px;
}
.RichEditor-editor .public-DraftEditor-content, .RichEditor-editor .public-DraftEditorPlaceholder-root2 {
    margin: 0 -15px -15px;
    padding: 15px;
}

.DraftEditor-editorContainer, .DraftEditor-root, .public-DraftEditor-content2 {
    height: inherit;
    text-align: left;
    text-align: initial;
}
.RichEditor-editor2 {
    cursor: text;
    font-size: 18px;
    margin-top: 10px;
    color: #343434;
    line-height: 20pt;
    letter-spacing: .02em;
}
.public-DraftStyleDefault-ltr2 {
    direction: ltr;
    text-align: left;
}   
.public-DraftStyleDefault-block2 {
    position: relative;
    white-space: pre-wrap;
}

.content12{
    margin: 10px;
    padding-top: 60px;
    font-size: 150%;
}
.content11{
    font-weight: bold;
    margin: 10px;
    padding-top: 60px;
    font-size: 150%;
}

.content22{
    margin: 10px;
    padding-top: 30px;
    font-size: 150%;
}
.content32{
    margin: 10px;
    padding-top: 10px;
    font-size: 150%;
}
.imagepie2{
    padding-top: 30px;
    text-align: center;
}

.content24{
    padding-top: 30% !important;
}